<%- include('partials/navbar.ejs',{student}) %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="/Assets/about_img4.jpg" class="img-fluid rounded" alt="About Us Image">
            </div>

            <div class="col-md-6">
                <h5 class="m-0 p-0">Our Mission</h5>
                <p>
                    Revolutionizing education through innovative e-learning solutions. Breaking barriers, empowering
                    learners to reach their full potential. Making education accessible to all.
                </p>
                <hr>
                <h5 class="m-0 p-0">Our Vision</h5>
                <p>
                    Empowering learners worldwide with accessible and impactful e-learning experiences. Transforming
                    education through digital innovation and inclusivity.
                </p>
                <hr>
                <h5 class="m-0 p-0">Our Team</h5>
                <p>
                    Meet our dedicated team of educators and developers committed to delivering exceptional online
                    learning experiences for you.
                </p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="/Assets/about_img1.jpg" class="img-fluid rounded" alt="About Us Image">
            </div>

            <div class="col-md-6 order-md-1">
                <h5 class="m-0 p-0">Why Choose Us</h5>
                <p>Explore a wide range of courses tailored to your interests and goals. Benefit from our experienced
                    instructors and flexible learning options.</p>
                <p>Join a community of learners dedicated to personal and professional growth. Gain access to resources
                    and support to help you succeed.</p>
                <hr>
                <h5 class="m-0 p-0">Our Values</h5>
                <p>We prioritize student success above all else. Our values of integrity, innovation, and inclusivity
                    guide everything we do.</p>
                <p>At our core, we believe that education should be accessible to everyone. We strive to break down
                    barriers and make learning a transformative experience for all.</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-6">
                <img src="/Assets/about_img5.jpg" class="img-fluid rounded" alt="About Us Image">
            </div>

            <div class="col-md-6">
                <h5 class="m-0 p-0">Customer Support</h5>
                <b>24/7 Availability:</b> Our customer support team is available round the clock to assist you with any
                queries or issues.
                <hr>
                <b>Dedicated Support:</b> Our team is dedicated to providing you with the best possible support,
                ensuring a seamless learning experience.
                <hr>
                <b>Feedback and Suggestions:</b> We value your feedback and use it to continuously improve our services.
                <hr>
                <b>Comprehensive Help Center:</b> Access our comprehensive help center for self-service options and
                FAQs.
                <br>
            </div>
        </div>
        <hr>
    </div>

    <%- include('partials/footer.ejs') %>