<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/Style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
        <div class="d-flex align-items-center p-3">
            <a href="#" class="sidebar-logo text-uppercase text-decoration-none  fs-4">ELEARNING</a>
            <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
        </div>
        <ul class="sidebar-menu p-3 m-0 mb-0">
            <li class="sidebar-menu-item active">
                <a href="/elearning/api/v1/instructor/dashboard">
                    <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                    Dashboard
                </a>
            </li>

            <li class="sidebar-menu-item">
                <a href="/elearning/api/v1/instructor/students_list">
                    <i class="fas fa-user-graduate sidebar-menu-item-icon"></i>
                    Enrolled Students
                </a>
            </li>

            <li class="sidebar-menu-item">
                <a href="/elearning/api/v1/instructor/launched_courses">
                    <i class="ri-pages-line sidebar-menu-item-icon"></i>
                    Launched Courses
                </a>
            </li>

            <li class="sidebar-menu-item">
                <a href="/elearning/api/v1/instructor/transaction_details">
                    <i class="ri-exchange-funds-line sidebar-menu-item-icon"></i>
                    Transactions
                </a>
            </li>

            <li class="sidebar-menu-item">
                <a href="/elearning/api/v1/instructor/update_details">
                    <i class="fas fa-user-edit sidebar-menu-item-icon"></i>
                    Update Profile
                </a>
            </li>


            <li class="sidebar-menu-item">
                <a href="/elearning/api/v1/instructor/logout" style="color: rgb(208, 0, 0);">
                    <i class="ri-login-box-line sidebar-menu-item-icon"></i>
                    Log Out
                </a>
            </li>
        </ul>
    </div>



</body>

</html>